/* Overwriting Themes */

[data-md-color-scheme="marinecoders-light"] {
    --md-primary-fg-color: #1a1d24;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark: #cf2929;
    --md-typeset-a-color: #cf2929;
    --md-accent-fg-color: #cf2929;
    --md-default-bg-color: #dee4e7;

}

[data-md-color-scheme="slate"] {
    --md-hue: 210;
    --md-default-bg-color: #252a34;
    --md-primary-fg-color: #1a1d24;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark: #cf2929;
    --md-typeset-a-color: #cf2929;
    --md-accent-fg-color: #cf2929;
    --md-accent-fg-color--transparent: hsla(#cf2929, 0.1);

}

.md-button {
    color: #cf2929 !important;
}

.md-button:is(:focus, :hover) {
    background-color: #cf2929;
    border-color: #cf2929;
    color: #ffffff !important;
}

.md-button--primary {
    background-color: #cf2929 !important;
    border-color: #cf2929 !important;
    color: #ffffff !important;
}

.md-button--primary:is(:focus, :hover) {
    background-color: #e44040 !important;
    border-color: #e44040 !important;
    color: #ffffff !important;
}

/* PyMdown Extensions Progress Bar CSS */

.progress-label {
    position: absolute;
    text-align: center;
    font-weight: 700;
    width: 100%;
    margin: 0 ! important;
    line-height: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
}

.progress-bar {
    height: 1.2rem;
    float: left;
    background: repeating-linear-gradient(45deg,
            rgba(255, 255, 255, 0.2),
            rgba(255, 255, 255, 0.2) 10px,
            rgba(255, 255, 255, 0.3) 10px,
            rgba(255, 255, 255, 0.3) 20px) #2979ff;
    border-radius: 2px;
}

.progress {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    height: 1.2rem;

    position: relative;
}

.progress-100plus .progress-bar {
    background-color: #00c853;
}

.progress-80plus .progress-bar {
    background-color: #64dd17;
}

.progress-60plus .progress-bar {
    background-color: #fbc02d;
}

.progress-40plus .progress-bar {
    background-color: #ff9100;
}

.progress-20plus .progress-bar {
    background-color: #ff5252;
}

.progress-0plus .progress-bar {
    background-color: #ff1744;
}

/* USWDS Banner */

* {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .banner-content-click {
        display: grid;
    }
}

@media only screen and (min-width: 600px) {
    .banner-content-click {
        display: flex;
    }
}

.banner__inner {
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: .75rem !important;
    line-height: 1.5;
    margin: 0px;
}

.banner__outer {
    justify-content: center;
    display: flex;
    background-color: #1a1d24;
}

.banner-header {
    padding: 0px 16px;
    display: flex;
    color: white;
}

.banner-header a {
    color: white;
}

.banner-header img {
    object-fit: contain;
}

.banner-header>* {
    padding: 5px;
}

.banner-content {
    padding: 1em;
}

.banner-content img {
    width: 64px;
    -webkit-transition: none;
    transition: none;
}

.banner-content__text {
    font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    color: white;
    font-size: .8rem !important;
    padding-top: 1rem
}

.banner-content__logo {
    margin: 1rem;
}